.chart-wrapper {
    width: calc(100vw - 360px);
    height: 350px;
}

.range-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.range-options .range-button {
    background-color: transparent;
    border: none;
    color: #6b7280; /* Tailwind gray-500 */
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.range-button:hover {
    background-color: #e0e0e0;
}

.range-button.active {
    background-color: #3b82f6; /* Tailwind blue-500 */
    color: white;
}

.range-button.active:hover {
    background-color: #2563eb; /* Tailwind blue-600 */
}